body {
    background-color: #F4F4F4;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 30px;
    color: #555555;
    font-weight: 200;
    height: 100%;
}

.navbar {
    box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
    background-color: #FAFAFA;
}

#nav.container {
    width: 100%;
}

#navbar a {
    font-size: 20px;
    margin-left: 10px;
    font-family: 'NovecentowideLightBold', 'Source Sans Pro', sans-serif;
}

#link-container {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.navbar-brand {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-right: 10px;
    font-family: 'NovecentowideLightBold', 'Source Sans Pro', sans-serif;
    float: right;
}

.logo {
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.header-container {
    float: left;
}

button.navbar-toggle.collapsed {
    margin-bottom: 10px;
    margin-top: 25px;
}

button.navbar-toggle {
    margin-bottom: 10px;
    margin-top: 25px;
}

#navbar li.active a {
    background-color: transparent;
    font-weight: 600;
}

.navbar-default .navbar-brand:hover {
    color: #f46902 !important;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

#navbar a:hover {
    color: #f46902 !important;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
/* Title
-------------------------------------------------- */

#title {
    margin-top: 80px;
    text-align: center;
    height: auto;
    padding-bottom: 3%;
    padding-top: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    visibility: hidden;
}

#title h1 {
    display: inline;
    width: auto;
    height: 100%;
    font-size: 10vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

#title-container.container.marketing {
    height: auto;
}
/* Footer
-------------------------------------------------- */

.footer {
    background-color: #F4F4F4;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: auto;
}

.footer .container {
    width: 95%;
    height: auto;
}

.footer a {
    color: #f46902;
    font-size: 16px;
}

.footer .pull-right {
    color: #f46902;
    font-size: 16px;
    right: 5%;
}
/* Footer
-------------------------------------------------- */

.footer {
    background-color: #F4F4F4;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: auto;
}

.footer .container {
    width: 95%;
    height: auto;
}

.footer a {
    color: #f46902;
    font-size: 16px;
}

.footer .pull-right {
    color: #f46902;
    font-size: 16px;
    right: 5%;
}
/* Featurettes
------------------------- */

#row-1 {
    background-color: #FAFAFA;
    padding-bottom: 4%;
    padding-top: 4%;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

#row-2 {
    background-color: #F4F4F4;
    padding-bottom: 4%;
    padding-top: 4%;
    border-top: 2px solid rgba(0, 0, 0, .2);
}

#row-3 {
    background-color: #FAFAFA;
    padding-bottom: 4%;
    padding-top: 4%;
    border-top: 2px solid rgba(0, 0, 0, .2);
}

#row-4 {
    background-color: #F4F4F4;
    padding-bottom: 4%;
    padding-top: 4%;
    border-top: 2px solid rgba(0, 0, 0, .2);
}

#row-5 {
    background-color: #FAFAFA;
    padding-bottom: 4%;
    padding-top: 4%;
    border-top: 2px solid rgba(0, 0, 0, .2);
}

#row-6 {
    background-color: #F4F4F4;
    padding-bottom: 4%;
    padding-top: 4%;
    border-top: 2px solid rgba(0, 0, 0, .2);
}

.lead a {
    color: #f46902;
}

.lead a:visited {
    color: #f46902;
}

.effects .image {
    position: relative;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
}

.effects {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.effects .image img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    width: auto;
}
/* ============================================================
  Youtube Videos
============================================================ */

#video-container-story-studio {
    position: relative;
    width: 100%;
    padding-bottom: 59%;
    visibility: hidden;
    display: none;
}

#video-story-studio {
    position: absolute;
    width: 100%;
    height: 100%;
}

#video-story-studio.back-container {
    position: relative;
    width: 100%;
    visibility: hidden;
    display: none;
    margin-top: 1%;
    display: flex;
}

#video-story-studio.go-back {
    text-align: center;
    color: #f46902;
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: 300;
}

#video-story-studio.go-back:visited {
    color: #f46902;
}

/* Murray Studio Gallery */

#video-container-murray-studio {
    position: relative;
    width: 100%;
    padding-bottom: 59%;
    visibility: hidden;
    display: none;
}

#video-murray-studio {
    position: absolute;
    width: 100%;
    height: 100%;
}

#video-murray-studio.back-container {
    position: relative;
    width: 100%;
    visibility: hidden;
    display: none;
    margin-top: 1%;
    display: flex;
}

#video-murray-studio.go-back {
    text-align: center;
    color: #f46902;
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: 300;
}

#video-murray-studio.go-back:visited {
    color: #f46902;
}
/* ============================================================
  EFFECT 5 - ICON BORDER ANIMATE
============================================================ */

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.overlay a.expand {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#effect-1 .overlay a.expand {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#effect-2 .overlay a.expand {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#effect-3 .overlay a.expand {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#effect-4 .overlay a.expand {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.image:hover .overlay {
    opacity: 1;
}

#effect-1 .image:hover .overlay a.expand {
    width: 130px;
    height: 130px;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    -ms-border-radius: 130px;
    -o-border-radius: 130px;
    border-radius: 130px;
}

#effect-2 .image:hover .overlay a.expand {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    border-radius: 120px;
}

#effect-3 .image:hover .overlay a.expand {
    width: 145px;
    height: 145px;
    -webkit-border-radius: 145px;
    -moz-border-radius: 145px;
    -ms-border-radius: 145px;
    -o-border-radius: 145px;
    border-radius: 145px;
}

#effect-4 .image:hover .overlay a.expand {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
    border-radius: 120px;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: all 0.5s;
}

#effect-1 .overlay {
    border-radius: 500px;
}

#effect-2 .overlay {
    border-radius: 500px;
}

#effect-3 .overlay {
    border-radius: 500px;
}

#effect-4 .overlay {
    border-radius: 500px;
}

#effect-1 a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 90px;
    height: 90px;
    margin-top: 50px;
    border: solid 5px #fff;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    line-height: 28px;
    padding-top: 33px;
    font-weight: 400;
    font-size: 20px;
}

#effect-2 a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 90px;
    height: 90px;
    margin-top: 50px;
    border: solid 5px #fff;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    line-height: 30px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 24px;
}

#effect-3 a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 120px;
    height: 120px;
    margin-top: 50px;
    border: solid 5px #fff;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    line-height: 30px;
    padding-top: 42px;
    font-weight: 500;
    font-size: 20px;
}

#effect-4 a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 120px;
    height: 120px;
    margin-top: 50px;
    border: solid 5px #fff;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    line-height: 30px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 24px;
}

a.close-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
    border-radius: 500px;
}

a.close-overlay.hidden {
    display: none;
}
/* ============================================================
  featurette
============================================================ */

.featurette-divider {
    border: 1px solid #555555;
    opacity: .2;
    visibility: hidden;
    /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -1px;
    margin-top: 120px;
    font-size: 60px;
    display: inline-block;
    color: #555555;
}

.featurette-heading:hover {
    font-weight: 350;
    text-decoration: none;
    color: #f46902
}
/* ============================================================
  Galleries
============================================================ */

/* Graphic Design Gallery */

#image-gallery-graphic-design {
    margin-top: 50px;
    display: none;
    visibility: hidden;
}

#gallery-heading-graphic-design {
    display: none;
    visibility: hidden;
    margin-top: 0px;
}

#gallery-graphic-design.back-container {
    position: relative;
    width: 100%;
    visibility: hidden;
    display: none;
    margin-top: 1%;
}

#gallery-graphic-design.go-back {
    text-align: center;
    color: #f46902;
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: 300;
}

#gallery-graphic-design.go-back:visited {
    color: #f46902;
}

/* Murray Studio Gallery */

#image-gallery-murray-studio {
    margin-top: 50px;
    display: none;
    visibility: hidden;
}

#gallery-heading-murray-studio {
    display: none;
    visibility: hidden;
    margin-top: 0px;
}

#gallery-murray-studio.back-container {
    position: relative;
    width: 100%;
    visibility: hidden;
    display: none;
    margin-top: 1%;
}

#gallery-murray-studio.go-back {
    text-align: center;
    color: #f46902;
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: 300;
}

#gallery-murray-studio.go-back:visited {
    color: #f46902;
}
    
/* Story Studio Gallery */

#image-gallery-story-studio {
    margin-top: 50px;
    display: none;
    visibility: hidden;
}

#gallery-heading-story-studio {
    display: none;
    visibility: hidden;
    margin-top: 0px;
}

#gallery-story-studio.back-container {
    position: relative;
    width: 100%;
    visibility: hidden;
    display: none;
    margin-top: 1%;
}

#gallery-story-studio.go-back {
    text-align: center;
    color: #f46902;
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: 300;
}

#gallery-story-studio.go-back:visited {
    color: #f46902;
}

/* Risk Gallery */

#image-gallery-risk {
    margin-top: 50px;
    display: none;
    visibility: hidden;
}

#gallery-heading-risk {
    display: none;
    visibility: hidden;
    margin-top: 0px;
}

#gallery-risk.back-container {
    position: relative;
    width: 100%;
    visibility: hidden;
    display: none;
    margin-top: 1%;
}

#gallery-risk.go-back {
    text-align: center;
    color: #f46902;
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: 300;
}

#gallery-risk.go-back:visited {
    color: #f46902;
}
    

/* Responsive CSS
-------------------------------------------------- */

@media (max-width: 480px) {
    .navbar-brand {
        visibility: hidden;
        display: none;
    }
}

@media (max-width: 990px) {
    .featurette-heading {
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
    .lead {
        width: 100%;
        text-align: center;
    }
    #video.back-container {
        padding-bottom: 2%;
    }
}

@media (max-width: 640px) {
    #video.back-container {
        padding-bottom: 5%;
    }
}